@import "tailwindcss";

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.card {
    @apply max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-xl p-8 flex-1;
}


h2,
h3 {
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.button {
    @apply block w-full p-3 text-center text-white bg-blue-700 rounded-lg transition duration-300 ease-in-out hover:bg-emerald-600 mt-3;

}


.qr-result img {
    display: block;
    margin: 20px auto;
    max-width: 250px;
}

a,
button {
    cursor: pointer;
}

button:disabled {
    opacity: .6;
    cursor: default;
}

.scan-line {
    animation: scanMove 2s linear infinite;
}

@keyframes scanMove {
    0% {
        top: 0%;
    }

    50% {
        top: 100%;
    }

    100% {
        top: 0%;
    }
}